
.tektur-text {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
.logo{
  width: 3em;
  height: 3em;
  border-radius: 10px;
}
.topp{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, rgb(0,150,50), rgb(0,100,7));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headimg{
   width: 100%;
  height: 100%;
    display: flex;
  align-items: center;
  color: white;
}
.headimg img{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  margin: 10px;
}
.letterhold{
  height: 80%;
  aspect-ratio: 1/1;
  background: white;
  margin: 10px;
  border-radius: 100%;
  display: grid;
  place-content: center;
}
#search {
  color: white;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: 20px;
  width: 200px;
  border: 2px dashed white;
  padding: 10px;
  transition: all .5s;
  
}
.copyright {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  border-radius: 100% 0% 23% 77% / 14% 100% 0% 86% ;
  padding: 15px;
  width: 250px;
  height: auto;
  border: 1px solid white;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
#sell {
  background-color: #e7dbcd;
  background-position: center;
  background-size: cover;
  font-size: 1.5vw;
  overflow: auto;
  height: 90vh;
  display: block;
}
.sellHolder{
  width: 100%;
  height: 90vh;
  display:flex;
  justify-content: center;
  z-index: 1;
  columns: 2;
}
.uploadpart, .previewpart{
  background: rgba(103, 176, 146, 0.675);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.uploadpart{
  border-right: 5px solid rgb(0,100,7);
}
.uploadpart h2, .previewpart h2{
  font-size: 1.8rem;
  border-bottom: 2px solid rgb(2, 165, 13);
  width: 100%;
}
.upload-inner-cont{
 display: grid;
 gap: 20px;
 align-items: center;
 justify-content: center;
}

.uploadpart button {
  width: 200px;
  font-size: 1rem;

  padding: 10px 20px;
  background: black;
  border: none;
  color: #ffffff;
  border-radius: 15px;
  transition: .5s;
}
.uploadpart button:hover {
  background: rgba(101, 99, 99, 0.5);
  backdrop-filter: blur(6px);
  border: solid 2px green;
  color: rgb(71, 255, 65);
}

.product{
  width: 240px;
  height: 350px;
}
#imge-files {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
#uploaderholder{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 2px solid white;
  display: grid;
  place-content: center;
  padding: 20px;
  border-radius: 20px;

}
#product-name, #product-price, #expiry-date, #category {
  border-radius: 10px;
  padding: 10px;
  border: solid 2px white;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  text-align: center;
  color: white;
}
.prev-product{
  width: 180px;
  height: 300px;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
}
#backimg {

  border: none;
  object-fit: contain;
  overflow: hidden;
  background: transparent;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  border: 2px solid rgb(3, 196, 67);
  width: 100%;
  height: 60%;
  backdrop-filter: blur(5px);
 display: inline-block;
}
.btn-cont{
  display: flex;
  width: 100%;
  height: 10%;
  background-color: rgb(3, 196, 67);
  border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.productNameView, .productPriceView, .productExpiryDAte{
  width: 100%;
  height: 9.5%;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}
.productNameView{
  background-color: rgb(3, 196, 67);
}
.productExpiryDAte{
  background-color: rgb(224, 120, 79);
  justify-content: right;
}
.mail{
  background-color: rgb(0, 106, 255);
  width: 50%;
  border: none;
  color: white;
  border-bottom-left-radius: 10px;
}
.whatsapp{
  background-color: rgb(0, 255, 115);
  width: 50%;
  border: none;
  color: black;
  border-bottom-right-radius: 10px;
}
#chat {
  text-align: center;
  background: url(3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
}
#chatters {
  background: green;
  border-radius: 15px;
}
#chat-holder {
  position: fixed;
  width: 100%;
  height: 70vh;
  font-size: 1.5rem;
  top: 10vh;
  overflow-y: auto;
}
.chat-message-sender-holder {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  bottom: 10vh;
}
#chat-messages {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid lightgreen;
  border-radius: 20px;
  width: 70%;
}
.message-container-one{
  width: 100%;
      height: auto;
      padding: 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      background: rgba(113, 200, 229, 0.5);
      margin-top:5px;
}
.message-container-two{
      width: 100%;
      height: auto;
      padding: 5px;
      display: flex;
      gap: 10px;
      align-items: flex-end;
     flex-direction: column;
      background: rgba(93, 219, 93,0.5);
      margin-top: 5px;
}
.message{
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 5px;
}
.user-id-one{
  font-size: 0.8rem;
  text-align: left;
  background: white;
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid black;
   border-right: 1px solid black;
}
.user-id-two{
  font-size: 0.8rem;
  text-align: left;
  background: white;
  padding: 5px;
  border-bottom-left-radius: 10px;
   border-bottom: 2px solid black;
 border-left: 2px solid black;
}
#chat-send {
  color:rgb(4, 112, 4);
  border: none;
  padding: 10px;
  background: transparent;
  border-radius: 100%;
  width: 25%;
}
#two{
  width: 100%;
  height: 90vh;
}
#chat-send .material-symbols-outlined {
  font-size: 3.5vw;
  text-align: center;
  transition: .5s;
}
#chat-send .material-symbols-outlined:hover {
  font-size: 4vw;
  color:rgb(17, 170, 11);
}
.trouble {
  background: transparent;
  bottom: 2vw;

}
nav{
  position: fixed;
  display: flex;
  border: none;
  border-radius: 12px;
  background: linear-gradient(to left, rgb(0,150,50), rgb(0,100,70));
  bottom: 0;
  left: 0;
  right: 0;
}
nav button {
  gap: 5px;
  width: 33.33%;
  text-decoration: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
  margin-left: 30px;
  border: none;
}
nav button a{
  text-decoration: none;
  font-size: 15px;
  align-self: center;
  color: white;
  background: transparent;
  padding: 10px;
  border-radius: 100%;
}
nav button p:hover {
  color: rgb(0, 0, 0);
  font-size: 2.2vw;
}
#prog-bar{
  position: fixed;
  top: 0;
  width:0; 
height: 5px; 
  background: rgb(0, 128, 90);
  z-index: 2;
}
.cards{
  position: absolute;
  background: #e7dbcd;
  width: 100%;
  height: 80vh;
  display: none;
  bottom: 3vw;
  overflow-y: auto;
}
#holder {
  width: 100%;
  height: 75vh;
  overflow-y: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}
.productfilters{
  position: relative;
  z-index: 3;
  display: flex;
  background: rgb(3, 175, 52);
  gap: 2px;
  width: 100%;
  height: 5vh;
  border-top: 1px solid white;
}
.productfilters button{
  display: grid;
  place-content: center;
  padding: 5px 10px;
  border: none;
  font-size: 1rem;
  background-color: rgb(0, 255, 115);
  transition: all .5s;
}
.productfilters button:hover{
  background-color: rgb(2, 124, 57);
  color: white;
}
.product {
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.7);
  width: 200px;
  height: 280px;
  border: 2px solid rgb(0, 128, 90);
  transition: all .3s;
}
.product:hover {
  box-shadow: 2px 2px 10px rgb(76, 243, 5);
}
.product-image{
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.product-name{
  height: 10%;
  background: rgb(0,150,50);
  padding: 5px;
  color: white;
}
.product-price{
  height: 10%;
  padding: 5px;
}
.product-expire{
 padding: 5px;
 height: 10%;
 text-align: right;
 background-color: red;
}
.btn-container{
  display: flex;
  height: 10%;
}
.btn-container .mail-real{
  width: 50%;
  background-color: rgb(5, 91, 211);
  border-bottom-left-radius: 10px;
  
}
.btn-container .whatsapp-real{
  width: 50%;
  background-color: rgb(5, 211, 91);
  border-bottom-right-radius: 10px;
}
#home{
  display: block;
  
}
#price {
  color: red;
}
.alert-box{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 2000;
}


#holder a {
  color: white;
  text-decoration: none;
  background: red;
  padding: 5px;
  border-radius: 10px;
}
@keyframes animate {
  0% {
      background: rgba(0, 0, 0,0.5);
      color: white;
  }
  25% {
    background: rgba(0, 0, 0,0.7);
    color: rgb(130, 231, 189);
  }
  50% {
    background: rgba(0, 0, 0,0.9);
    color: rgb(6, 146, 25);
  }
  75%{
    background: rgba(0, 0, 0,0.7);
    color: rgb(130, 231, 189);
  }
  100%{
    background: rgba(0, 0, 0,0.5);
    color: white;
  }
}
